h1{
    text-align: center;
    background-color: orange;
    border-radius: 25%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: rgb(255, 240, 200);
}
h2{
    color: white;
    background-color: rgb(255, 120, 0);
    text-align: center;
    font-family: cursive;
    border-radius: 10%;
    border-style: dashed;
}